<ul class="nav justify-content-end nav-action-container">
  <li class="nav-item">
    <button mat-raised-button color="primary" (click)="createphone()">Add New Car</button>
  </li>
</ul>
<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card class="example-card" *ngFor="let phone of phone; let i = index">
      <mat-card-content>
        <img class="cover" [src]="phone.image_url" alt="bike">
        <p>
          <label for="id">Image Url:</label>
          <input [(ngModel)]="phone.image_url" type="text" class="form-control" placeholder="ID" aria-label="ID">
        </p>
        <p>
          <label for="id">ID:</label>
          <input [(ngModel)]="phone.id" disabled type="text" class="form-control" placeholder="ID" aria-label="ID">
        </p>
        <p>
          <label for="price">Brand</label>
          <input [(ngModel)]="phone.brand" type="text" class="form-control" placeholder="Brand" aria-label="Brand"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="description">Model</label>
          <input [(ngModel)]="phone.model" type="text" class="form-control" placeholder="Model" aria-label="Model"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Color</label>
          <input [(ngModel)]="phone.color" type="text" class="form-control" placeholder="Color" aria-label="Color"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input [(ngModel)]="phone.price" type="text" class="form-control" placeholder="Price" aria-label="Price"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Seller</label>
          <input [(ngModel)]="phone.seller" type="text" class="form-control" placeholder="Seller" aria-label="Seller"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-group pull-right">
          <button mat-raised-button color="primary" class="pull-right" (click)="updatePhone(phone)">Save</button>
          <button mat-raised-button color="warn" (click)="removePhone(phone, i)">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>