<section class="jumbotron text-center">
  <div class="container">
      <h1>Three Guys eCommerce!</h1>
      <p class="lead text-muted">Welcome to Three Guys eCommerce! The "improved and easier to navigate" eCommerce
          website for the Fresno County!</p>
      <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
  </div>
</section>

<div class="featured">
  <h3>Featured Items!</h3>
</div>

