<app-main-nav></app-main-nav>
<div class="container">
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="/src/assets/threeguys.png" alt="">
    </div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">Three Guys eCommerce</h1>
      <p>Welcome to Three Guys eCommerce! The "improved and easier to navigate" eCommerce
        website for the Central Valley!</p>
      <a class="btn btn-primary" target="_blank" href="https://github.com/mauriciot97/ThreeGuysEcommerce">GitHub Repo</a>
    </div>
  </div>

  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">E-commerce actually started in 1979. Michael Aldrich connected a domestic television set
        with a phone line to create online shopping back, which boomed in the 1980s and 1990s before the Internet took
        off.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Mauricio Torres</h2>
          <img src="/src/assets/mauricio.jpg">
          <p class="card-text">My name is Mauricio Torres and I am majoring in Business Administration with a focus in
            Computer Information Systems. I enjoy playing video games and talking with friends.</p>
        </div>
        <div class="card-footer">
          <a target="_blank" href="https://github.com/mauriciot97" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Simran Brar</h2>
          <img src="/src/assets/simran.jpg">
          <p class="card-text">My name is Simran Brar and I am majoring in business computer information systems. My
            hobbies
            include
            playing basketball and going to the gym once in a while. I will be graduating this semester. I
            am hoping
            to find a job after I'm done with college.</p>
        </div>
        <div class="card-footer">
          <a target="_blank" href="https://github.com/simbrar20" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Christopher Xiong</h2>
          <img src="/src/assets/avatar.jpg">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam,
            maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
        <div class="card-footer">
          <a target="_blank" href="https://github.com/christopherx211" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>

  </div>

</div>

<app-footer></app-footer>