<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select Seller</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>mauriciot97</option>
      <option>simranbrar</option>
      <option>chrisxiong</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your message here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <a class="btn btn-primary" href="#" role="button">Submit Message</a>
</form>